$Fonts: 'Muli', Geneva, Verdana, sans-serif
$FontColor: #F8F9FA
$ButtonColor: #07A298
$HeaderBackground: #2C3138
$BackgroundColor: #33333C
$BackgroundAccent: #37373F
$RedAccent: #DA3738
$GreenAccent: #77CEC9


* 
    margin: 0
    padding: 0
    border: 0
    outline: 0
    font-size: 100%
    vertical-align: baseline
    background: transparent
    list-style-type: none

body
    margin: 0 15px 0 15px
    font-family: $Fonts
    color: $FontColor
    background-color: $BackgroundColor

.fas
    color: $FontColor

.btn
    margin: 10px
    padding: 10px 15px
    background-color: $ButtonColor
    border-radius: 3px
    min-width: 100px
    color: #ececec

.btn:active
    background-color: #006d66

.container--header
    position: fixed
    top: 0
    left: 0
    width: 100%
    background-color: $HeaderBackground
    box-shadow: 0 3px 6px rgba(0,0,0,.3)

.container--car_info
    padding: 10px 0
    margin: auto
    width: 50%
    text-align: center

.container--car_info h1
    font-size: 24px
    
.container--logout_menu
    position: absolute
    top: 15px
    right: 15px
    font-size: 32px

.container--main_section
    padding-top: 71px


.container--car_image
    text-align: center

.container--car_image img
    max-width: 275px





.container--control_btn
    position: fixed
    left: 0
    bottom: 0
    text-align: center
    width: 100%

.list--control_btn
    margin: 0 15px

.btn--control_btn
    margin: 2px 0
    width: 100%

.modal
    display: none
    position: fixed
    width:100%
    height: 100%
    top: 0
    left: 0
    z-index: 1
    overflow: auto
    background-color: rgb(0,0,0) 
    background-color: rgba(0,0,0,0.4)

.modal-content
    background-color: $BackgroundColor
    margin: 75px 20px 0 20px
    padding: 10px 0
    border-radius: 5px

.modal-content .modal--close
    text-align: right
    margin: -5px 8px 0 0

.modal-content .modal--close_button i:active
    color: #949494

.modal-content .btn
    margin: 10px 0

@media only screen and (min-width: 375px)
    .btn
        padding: 13px 15px
    

@media only screen and (min-width: 766px)
    .container--car_image img
        max-width: 450px
    
    .list--control_btn
        display: table
        width: 100%
        margin: 0
        table-layout: fixed
    
    .item--control_btn
        display: table-cell
        padding: 10px
    
