* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body{
    margin: 0 15px 0 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container--main_section{
    padding-top: 20px;
}
.container--back_button{
    float: left;
    font-size: 24px;
}
.container--car_info{
    margin: auto;
    width: 50%;
    text-align: center;
}
.container--car_info h1{
    font-size: 24px;
}
.container--car_image{
    text-align: center;
}
.container--car_image img{
    max-width: 250px;
}
.container--quick_action{
    text-align: center;
}
.list--quick_action{
    display: flex;
    flex-wrap: wrap;
}
.item--quick_action{
    flex: 49%;
    display: inline;
}
.container--control_btn{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}