* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    list-style-type: none;
}
body{
    margin: 0 15px 0 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ececec;
    background-color: #232931;
}
.fas{
    color: #ececec;
}
.container--main_section{
    padding-top: 20px;
}
.container--back_button{
    float: left;
    font-size: 24px;
}
.container--car_info{
    margin: auto;
    width: 50%;
    text-align: center;
}
.container--car_info h1{
    font-size: 24px;
}
.container--car_image{
    text-align: center;
}
.container--car_image img{
    max-width: 275px;
}
.container--quick_action{
    text-align: center;
}
.list--quick_action{
    display: flex;
    flex-wrap: wrap;
}
.item--quick_action{
    flex: 50%;
    display: inline;
}
.btn{
    margin: 10px;
    padding: 10px 15px;
    background-color: #07a298;
    border-radius: 3px;
    min-width: 100px;
    color: #ececec;
}
.btn:active{
    background-color: #006d66;
}
.container--control_btn{
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
}
.list--control_btn{
    margin: 0 15px;
}
.btn--control_btn{
    margin: 2px 0;
    width: 100%;
}